/* Imports the Poppins font family from the Google Fonts API. Can change and play around with different ones later*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

.container {
  text-align: center;
}

/* Styling for body elements */
body {
  margin: 20px;
  font-family: 'Poppins';
  color: #333;
}

/* Styling anchor link elements */
a {
  color: rgb(3, 196, 154);
}

/* Styling for all images */
img {
  max-width: 100%;
}

/* Styling for the nav bar container */
nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}

/* Styling for nav bar header */
nav h1 {
  margin-right: auto;
}

/* Styling for photo gallery to format each item into a 3 column grid */
.photo-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

/* Styling for photo description, author, tags */
.photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  
}

/* Styling for photo description, author, tags */
.photo-content {
  max-width: 960px;
  margin: 0 auto;
}