/* Sets the box sizing of all elems */
* {
  box-sizing: border-box;
}

/* Set the margin for the body */
body {
  margin: 0;
}

/* Styling for nav elem */
.nav {
  background-color: #007c89;
  color: mintcream;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

/* Specific styling for the anchor elem under the nav elem */
.nav a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  height: 100%;
  padding: .25rem;
  font-size: 25px;
}

/* Specific styling for the ul elem under the nav elem */
.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

/* Hover effect for list elem within the nav elem */
.nav li:hover {
  background-color: seagreen;
}

/* Hover effect for active list elem within the nav elem */
.nav li:active {
  background-color: ghostwhite;
}

